apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: combined-ingress
  namespace: default
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/proxy-body-size: "10m" # Allows handling larger payloads
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header Host $host; 
      proxy_set_header X-Forwarded-Host $host; 
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - testing123456789.zapto.org
    secretName: example-app-tls
  rules:
  - host: testing123456789.zapto.org
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: example-service
            port:
              number: 80
      - path: /api/
        pathType: Prefix
        backend:
          service:
            name: we-tekup
            port:
              number: 80
      - path: /api/societe/
        pathType: Prefix
        backend:
          service:
            name: we-tekup
            port:
              number: 80


